<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../icons/favicon_uc.ico" rel="shortcut icon">
	<link class="bootselect" href="" rel="stylesheet" type="text/css" />
	<link href="../base/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../base/layer/skin/default/layer.css" rel="stylesheet" />
	<link href="../css/baseall.css" rel="stylesheet" />
	<link href="../css/tasks.css" rel="stylesheet" />
	<link href="../base/jsonanalyze/css/jsonanalysis.css" rel="stylesheet" />
	<script src="../base/jquery/jquery-1.11.0.min.js"></script>
	<script src="../base/layer/layer.js"></script>
	<script src="../js/skin.js"></script>
	<title>任务管理</title>
</head>

<body>
<div class="loading changeSkin">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="content">
	<div class="content-body">
	     <!-- 内容区 -->
	     <div class="accordion">
	        <dl>
				<dt class="active">
					<h4 class="activity-title"><span class="activity-ico icon_4g"></span><span>应用1</span></h4>
					<div class="ope-btn">
					    <button  id="selection" type="button" value="0" class="btn btn-blue query-btn"><span class="glyphicon glyphicon-search"></span> 全选</button>
					    <button  id="start" type="button" class="btn btn-blue query-btn"><span class="glyphicon glyphicon-search"></span> 启动</button>
					    <button id="stop" type="button" class="btn btn-blue query-btn"><span class="glyphicon glyphicon-search"></span> 停止</button>
					    <button id="remove"  type="button" class="btn btn-blue query-btn"><span class="glyphicon glyphicon-search"></span> 删除</button>
					</div>
					<div class="opt-btn2">
					    <button id="newAdd"  type="button" class="btn btn-blue query-btn"><span class="glyphicon glyphicon-search"></span> 新建任务</button>
					    <button id="monitor"  type="button" class="btn btn-blue query-btn"><span class="glyphicon glyphicon-search"></span> 监控任务</button>
					</div>
									
				</dt>
				<dd class="accordion-content accordionItem is-collapsed active"  id="accordion1" aria-hidden="true">
					<div class="form-content" id="formContent1">
					   	<div class="tasks-list">
					   	    <ul id="tasksTitle">
					   	        <!-- <li>
					   	            <span class="opt-point"></span>
					   	            <input type="checkbox" />
					   	            <span class="opt-picture"><i class="fa fa-play" aria-hidden="true"></i></span>
					   	            <span class="opt-text">task1</span>
					   	        </li>
					   	        <li>
					   	            <span class="opt-point"></span>
					   	            <input type="checkbox" />
					   	            <span class="opt-picture"><i class="fa fa-pause" aria-hidden="true"></i></span>
					   	            <span class="opt-text">task2</span>
					   	        </li>
					   	        <li>
					   	            <span class="opt-point"></span>
					   	            <input type="checkbox" />
					   	            <span class="opt-picture"><i class="fa fa-pause" aria-hidden="true"></i></span>
					   	            <span class="opt-text">task3</span>
					   	        </li>
					   	        <li>
					   	            <span class="opt-point"></span>
					   	            <input type="checkbox" />
					   	            <span class="opt-picture"><i class="fa fa-play" aria-hidden="true"></i></span>
					   	            <span class="opt-text">task4</span>
					   	        </li>
					   	        <li>
					   	            <span class="opt-point"></span>
					   	            <input type="checkbox" />
					   	            <span class="opt-picture"><i class="fa fa-play" aria-hidden="true"></i></span>
					   	            <span class="opt-text">task5</span>
					   	        </li> -->
					   	    </ul>
					   	</div>
					   	<span class="shuxian"></span>
					   	<div class="tasks-content tasks-listenter" id="logTask">
					   	    <div id="taskIdName">
					   	    </div>
					   	    <div style="margin-top: 10px">
					   	        <a onclick="message()" href="javascript:void(0)" class="opt-text">运行信息</a>
					   	        <a onclick="logger()" href="javascript:void(0)" class="opt-text">运行日志</a>
					   	        <a onclick="paramsDeploy()" href="javascript:void(0)" class="opt-text">参数配置</a>
					   	        <a onclick="property()" href="javascript:void(0)" class="opt-text">任务属性</a>
					   	    </div>
					   	    <div id="runMessage" style="margin-top: 30px">
					   	    </div>
					   	    <div id="runLogs" style="margin-top: 30px">
						   	    <div>
						   	        <a onclick="log1()" href="javascript:void(0)" class="opt-text">查看日志一</a>
						   	        <a onclick="log2()" href="javascript:void(0)" class="opt-text">查看日志二</a>
						   	    </div>
						   	    <table id="logWriter"  width="400px">
						   	        <tbody id="tBody">
										
									</tbody>
						   	    </table>
						   	    <div class="logPage">
						   	        <div class="pagleft">
										共{{totalNum}}条数据 每页显示&nbsp;<input type="text" value="10" class="form-control" />&nbsp;条数据 第{{current}}/{{allpage}}页
									</div>
									<ul class="pagination pagination-sm">
										<li @click="current <= 1 ? '' : (current-- && goto(current))">
											<a href="#">
												<</a>
										</li>
										<li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
											<a href="#">{{index}}</a>
										</li>
										<li @click="(allpage != current && allpage != 0) ? (current++ && goto(current++)) : ''">
											<a href="#">></a>
										</li>
										<li>
											<a href="#">共{{allpage}}页</a>
										</li>
									</ul>
						   	    </div>
					   	    </div>
					   	    <div id="paramsDeploy" style="margin-top: 30px">
					   	    <table border="1" cellspacing="3" cellpading="3" width="400px" style="border-collapse: collapse;">
					   	        <tbody>
					   	             <tr class="runMessageTr">
					   	                 <td class="runMessageTd">任务名称:</td>
					   	                 <td>test01</td>
					   	             </tr>
					   	             <tr class="runMessageTr">
					   	                 <td class="runMessageTd">引用插件:</td>
					   	                 <td>test01</td>
					   	             </tr>
					   	             <tr class="runMessageTr">
					   	                 <td class="runMessageTd">任务启动时间:</td>
					   	                 <td>test01</td>
					   	             </tr>
					   	        </tbody>
					   	    </table>
					   	    </div>	
					   	</div>
					   	<div class="tasks-content tasks-new" id="newTask">
					   	    <!-- <div class="form-group-3 addHide" style="width: auto">
					            <span class="checkbox-text"> [00000001] TCM DEMO TASK &nbsp|</span>
					            <a value="start" style="padding: 5px;" class="checkbox-text" href="javascript:void(0)" @click="audio()">运行信息</a>
					            <a value="start" style="padding: 5px;" class="checkbox-text" href="javascript:void(0)" @click="audio()">运行日志</a>
					            <a value="start" style="padding: 5px;" class="checkbox-text" href="javascript:void(0)" @click="audio()">参数配置</a>
					        </div> -->
					        <fieldset style="margin-top: 0px;">
					            <legend>常规</legend>
					            <div class="form-group" style="width: auto">
								<label class="label-text">*任务名称：</label>
								<input id="taskName" type="text" class="form-control"/>
								<input class="runDisabled" checked='' type="radio" name="disabled" value="0"/><span class="checkbox-text">自动运行</span>
								<input class="runDisabled" type="radio" name="disabled" value="1"/><span class="checkbox-text">禁止运行</span>
							    </div>
					        <div class="form-group" id = "plugSelect" style="width: auto">
								<!-- <label class="label-text">*引用插件：</label>
								<select class="form-control required activeType" v-model="codeTypeId" data-toggle="popover" data-placement="bottom" data-content=""/>
								<option value="">-- 请选择 --</option>
								</select>
								<div class="trangle"></div> -->
							</div>
							<div class="form-group form-group-22" id = "dataSelect1">
							    <!-- <label class="label-text">*数据库：</label>
								<select class="form-control required activeType" v-model="codeTypeId" data-toggle="popover" data-placement="bottom" data-content=""/>
								<option value="">-- 请选择 --</option>
								</select>
								<div class="trangle" style="left:calc(35% + 120px)"></div>
								<label>(主要)</label> -->
							</div>
							<div class="form-group form-group-22" id = "dataSelect2">
								<!-- <select class="form-control required activeType" style="margin-left: 15px;" v-model="codeTypeId" data-toggle="popover" data-placement="bottom" data-content=""/>
								<option value="">-- 请选择 --</option>
								</select>
								<div class="trangle" style="left:calc(57%)"></div>
								<label>(备用)</label> -->
							</div>
					        </fieldset>
					         <fieldset>
				            <legend>计划</legend>
				            <div class="form-group" style="width: auto;margin-top: 0px;">
						    <label style="margin-bottom: 5px">时间格式示例：2049年12月31日 23时59分59秒</label>
						    </div>
							<div class="form-group" style="width: auto">
								<input class="planTypeTime" value="1" checked='' type="radio" name="opt" onclick="opt()"></label><span class="radio checkbox-text">&nbsp&nbsp立即执行</span>
							</div>
							<div class="form-group" style="width: auto">
								<input class="planTypeTime" value="2" type="radio" name="opt" onclick="opt1()"></label><span class="radio checkbox-text">&nbsp&nbsp定时执行</span>
								<input id="year" type="text" class="form-time" name="opt1" disabled/>
								<label>年</label>
								<input id="month" type="text" class="form-time" name="opt1" disabled/>
								<label>月</label>
								<input id="day" type="text" class="form-time" name="opt1" disabled/>
								<label>日</label>
								<input id="hour" type="text" class="form-time" name="opt1" disabled/>
								<label>时</label>
								<input id="minute" type="text" class="form-time" name="opt1" disabled/>
								<label>分</label>
								<input id="second" type="text" class="form-time" name="opt1" disabled/>
								<label>秒</label>
							</div>
							<div class="form-group" style="width: auto">
								<input class="planTypeTime" value="3" type="radio" name="opt" onclick="opt2()"></label><span class="radio checkbox-text">&nbsp&nbsp每</span>
								<input id="mxf" type="text" class="form-time" name="opt2" disabled/>
								<label>分钟执行一次</label>
							</div>
							<div class="form-group" style="width: auto">
								<input class="planTypeTime" value="4" type="radio" name="opt" onclick="opt3()"></label><span class="radio checkbox-text">&nbsp&nbsp每</span>
								<input id="mxt" type="text" class="form-time" name="opt3" disabled/>
								<label>天执行一次 ，每次执行于</label>
								<input id="hour4" type="text" class="form-time" name="opt3" disabled/>
								<label>时</label>
								<input id="minute4" type="text" class="form-time" name="opt3" disabled/>
								<label>分</label>
								<input id="second4" type="text" class="form-time" name="opt3" disabled/>
								<label>秒</label>
							</div>
							<div class="form-group" style="width: auto">
								<input class="planTypeTime" value="5" type="radio" name="opt" onclick="opt4()"></label><span class="radio checkbox-text">&nbsp&nbspCron表达式</span>
								<input id="cron" type="text" class="form-time-cron" name="opt4" disabled/>
								<a value="start" href="javascript:void(0)" @click="audio()" style="color:red;">表达式说明</a>
							</div>
					         </fieldset>
					         <fieldset>
					            <legend>
					                <input id="taskAlert" type="checkbox" value="1"/><span class="checkbox-text">任务监控报警</span>
					            </legend>
					            <div class="form-group" style="width: auto">
							    <label>出错报警方式:</label>
							    <input class="alertType" value="0" checked='' type="radio" name="opts" onclick="opts()"></label><span class="radio checkbox-text">&nbsp&nbsp报警一次</span>&nbsp&nbsp&nbsp&nbsp
							    <input class="alertType" value="1" type="radio" name="opts" onclick="opts1()"></label><span class="radio checkbox-text">&nbsp&nbsp保持报警</span>
							    <input id="keepAlertTime" type="text" class="form-time" name="opts1" disabled/>
								<label>分钟</label>
								&nbsp&nbsp&nbsp&nbsp
							    <input class="alertType" value="2" type="radio" name="opts" onclick="opts2()"></label><span class="radio checkbox-text">&nbsp&nbsp一直报警</span>
							</div>
							<div class="form-group" style="width: auto">
								<input id="notSuccAlert" value="1" type="checkbox"></label><span class="radio checkbox-text">&nbsp&nbsp立即执行</span>
								<label> 成功记录数报警。 在</label>
								<input id="notSuccTime" type="text" class="form-time"/>
								<label>分钟内”成功记录数“（succNum）没有增加则报警</label>
							</div>
							<div class="form-group" style="width: auto">
								<input id="failAlert" value="1" type="checkbox" kind="Group"></label><span class="radio checkbox-text">&nbsp&nbsp错误记录报警。 错误记录数（failNum）只要变化则报警</span>
							</div>
					         </fieldset>
					         <fieldset>
					            <legend>其他</legend>
					            <div class="form-group" style="width: auto">
							    <label>注：值为“0”表示无限制</label>
							</div>
							<div class="form-group" style="width: auto">
								<label> 保留</label>
								<input id="logBackNums" type="text" class="form-time"/>
								<label>个日志， 每个日志最大容量为 </label>
								<input id="logMaxSize" type="text" class="form-time"/>
								<label>兆 ， </label>
							</div>
							<div class="form-group form-group-2" >
								<label>“日志一”输出级别为 </label>
								<select id="logLevel" class="form-control required activeType" v-model="codeTypeId" data-toggle="popover" data-placement="bottom" data-content="请选择有效活动"/>
								<option value="DEBUG">-- DEBUG --</option>
								<option value="INFO">-- INFO --</option>
								<option value="WARN">-- WARN --</option>
								<option value="ERROR">-- ERROR --</option>
								<option value="FATAL">-- FATAL --</option>
								</select>
								<div class="trangle"></div>
							</div>
							<div class="form-group form-group-2" >
								<label>“日志二”输出级别为 </label>
								<select id="logLevel2" class="form-control required activeType" v-model="codeTypeId" data-toggle="popover" data-placement="bottom" data-content="请选择有效活动"/>
								<option value="DEBUG">-- DEBUG --</option>
								<option value="INFO">-- INFO --</option>
								<option value="WARN">-- WARN --</option>
								<option value="ERROR">-- ERROR --</option>
								<option value="FATAL">-- FATAL --</option>
								</select>
								<div class="trangle"></div>
							</div>
							<div class="form-group" style="width: auto;clear:both">
								<label> 单次任务超时设置：</label>
								<input id="taskTimeout" type="text" class="form-time"/>
								<label>分钟</label>
							</div>
					         </fieldset>
							<div class="form-group">
								<button type="reset" class="btn btn-default btn-sm reset" data-dismiss="modal">取消</button>
								<button type="submit" class="btn btn-blue submit"  data-dismiss="modal">确定</button>
							</div>
					   	</div>
					   	<div class="tasks-content tasks-listenter" id="listenter">
					   	    <div>
					   	        <h4 class="task-title">任务运行监控</h4>
					   	        <span><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
					   	        <a value="start" style="margin-right: 10px;" href="javascript:void(0)" @click="audio()">声音报警</a>
					   	        <a value="start" href="javascript:void(0)" @click="audio()">清除所有错误</a>
					   	    </div>
					   	    <div>
					   	        <form class="form-cont">
					   	            <div class="form-inline" id="taskRunTop">
										<div class="form-group form-group-1">
											<label class="control-label">当前的内存使用情况：</label>
										    <div class="form-control">
										        总共 <span>231936</span> K, 使用 <span>20290</span> K, 剩余 <span>211646</span> K
										    </div>
										</div>
										<div class="form-group form-group-1">
											<label class="control-label">2小时来的内存情况：</label>
										    <div class="form-control">
										        最小内存 <span>2744</span> K, 最大内存 <span>66665</span> K
										    </div>
										</div>
										<div class="clear"></div>	
									</div>
					   	        </form>
					   	        <div id="app">
					   	            <table style="font-size:13px;margin-top: 10px;width: 100%;" border="0" class="table table-hover  tab-own" cellpadding="0" cellspacing="0">
										<thead>
										<tr>
											<th>ID</th>
											<th>任务名称</th>
										    <th>当前状态</th>
											<th>最后运行时间</th>
											<th>统计</th>
											<th>其他</th>
										</tr>
										</thead>
										<tbody>
											<tr v-for="(tabtr,index) in tabData">
												<td>{{index+1}}</td>
												<td>{{tabtr.taskName}}</td>
								                <td v-if = "tabtr.state == 0">运行中</td>
								                <td v-else>已停止</td>
								                <td>{{tabtr.lastRuntime}}</td>
								                <td>成功:{{tabtr.taskMessage.succNum}}|失败:{{tabtr.taskMessage.failNum}}|等待:{{tabtr.taskMessage.waitNum}}|忽略:{{tabtr.passNum}}</td>         
								                <td>{{tabtr.taskMessage.other}}</td>
					                        </tr>
										</tbody>
									</table>
									<!-- <div class="pagleft" v-cloak>
										共{{totalNum}}条数据 每页显示&nbsp;<input type="text" value="10" class="form-control" />&nbsp;条数据 第{{current}}/{{allpage}}页
									</div>
									<ul class="pagination pagination-sm" v-cloak>
										<li @click="current <= 1 ? '' : (current-- && goto(current))">
											<a href="#">
												<</a>
										</li>
										<li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
											<a href="#">{{index}}</a>
										</li>
										<li @click="(allpage != current && allpage != 0) ? (current++ && goto(current++)) : ''">
											<a href="#">></a>
										</li>
										<li>
											<a href="#">共{{allpage}}页</a>
										</li>
									</ul> -->
					   	        </div>
					   	    </div>
					   	</div>
					</div>
				</dd>
				<div class="clear"></div>				
			</dl>
		</div>
	</div>
	<!--<div class="content-bottom"><button id="addBtn" type="button" class="btn btn-blue paging-btn add-btn">添加</button></div> -->
</div>

</body>
<script src="../base/vue/vue.min.js"></script>
<script src="../base/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/common.js"></script>
<script src="../base/jsonanalyze/js/analyze.js"></script>
<script src="../js/tasks.vue.js"></script>

</html>