<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 

>
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading" th:text="${time}">date</div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">thymeleaf 模板测试!!!!!</div>
        <div id="usernamediv" class="panel-body"></div>
    </div>
</body>
</html>